.about-img{
    width: 100%;
} 

.about-section{
    margin-top: 90px;   
    margin-bottom: 90px;
}

.about-line{
    position: relative;
    width: 150%;
    right: 50%;
    z-index: -100;
    border-bottom: 1px solid #3e3e3e;
}
.about-text{
    padding-top: 30px;
    text-align: justify;
    text-justify: inter-word;
}
