body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

.about-img {
  width: 100%;
}
.about-section {
  margin-top: 90px;
  margin-bottom: 90px;
}
.about-line {
  position: relative;
  width: 150%;
  right: 50%;
  z-index: -100;
  border-bottom: 1px solid #3e3e3e;
}
.about-text {
  padding-top: 30px;
  text-align: justify;
  text-justify: inter-word;
}

.header-title {
  font-size: 4em;
  color: #fff;
}
.header-bold-text {
  font-weight: 700;
}

.menu-desktop {
  margin: 0;
  margin-top: 15px;
  position: fixed;
  width: 100%;
  color: #fff;
  font-weight: 350;
  border-bottom: 1px solid #fff;
}
.menu-list {
  list-style: none;
  margin-top: auto;
}
.menu-element {
  display: inline-block;
  box-sizing: border-box;
}
.menu-element > a,
.menu-mobile-element > a {
  font-size: 1.2em;
  color: #fff;
}
.menu-list > li > a:hover,
.menu-mobile-element > a:hover {
  font-weight: bold;
  text-decoration: none;
}
.menu-selector > p {
  float: right;
  margin-right: 3em;
}
.menu-current {
  font-weight: bold;
}
.menu-other {
  font-weight: lighter;
}
menu-lg-selector {
  font-size: 1.2em;
  cursor: pointer;
}
.menu-list-mobile {
  transition: all ease-in-out 0.5s;
  position: absolute;
  top: 0;
  list-style: none;
  margin: 0;
  margin-top: 45px;
  padding: 0;
  background-color: rgba(92,92,92,0.5);
  z-index: -2;
}
.menu-list-mobile.ng-hide {
  top: -300px;
}
.menu-mobile-icon > i {
  color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
  padding-top: 15px;
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 10000;
}
.menu-mobile-logo {
  width: 100px;
  margin-left: 5px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
}
.menu-mobile {
  transition: all ease-in-out 0.5s;
  position: fixed;
  width: 100%;
  background-color: transparent;
}
menu-mobile.ng-hide {
  background-color: rgba(92,92,92,0.5);
}
.menu-mobile-element {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(100,100,100,0.4);
  margin: 0;
  padding-left: 50px;
  z-index: -10;
}
.menu-mobile-color {
  transition: all ease-in-out 0.5s;
  background-color: rgba(92,92,92,0.5);
}
.menu-mobile-no-color {
  transition: all ease-in-out 0.5s;
  background-color: transparent;
}
.menu-mobile-selector {
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.line {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #3e3e3e;
}
.my-work-list {
  list-style: none;
}
.mywork-category-list {
  display: inline-block;
}
.mywork-category-list > span {
  padding: 0px 10px;
}
.mywork-category-list > span:hover {
  font-weight: bold;
}
.my-work-gallery {
  padding: 0px;
}
.image {
  height: 100px;
  box-sizing: border-box;
  background-color: #808080;
  margin-right: 5px;
  width: 24%;
  float: left;
  margin-top: 5px;
}
@media only screen and (max-width: 767px) {
  .image {
    width: 100%;
  }
}
