.cookies-panel{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 2em 1em;
    background-color: #424242;
    color: white;
}

.cookies-panel button {
    padding: 5px 10px;
    
}

.cookies-panel button:hover{
    transition: 0.2s;
    background-color: #c4c4c4;
}

.cookies-accept{
    border: none;
    background-color: #fcd966;
    width: 60%;
}

.cookies-moreinfo{
    background-color: #9a9a9a;
    padding-top: 3em;
    border: none;
    width: 38%;
}

.cookies-icon{
    cursor: pointer;
}

.cookies-icon i {
    padding-right: 2em;
    width: 100%;
}

.cookies-info{
    position: fixed;
    top: 0.5em;
    width: 90%;
    left: 5%;
    z-index: 10000;
    background-color: #6f6f6f;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
}