.project-view {
  padding-top: 50px;
}
.icon {
  transition: ease-in-out 0.2s;
  float: right;
  margin-right: 35px;
  
}
.icon:hover {
  color: #3e3e3e;
}

.icon-div{
color: #a9a9a9;
}

.icon-div:hover{
    color: #3e3e3e;
}

.icon::after {
  clear: both;
}
.project-view-thumnails {
  box-sizing: border-box;
  margin-right: 5px;
  margin-top: 5px;
}
.project-view-maninImage {
  width: 100%;
  margin-right: 5px;
}
.project-view-subtext {
  color: #a9a9a9;
}
.project-view-header {
  margin-bottom: 0;
}

.project-view-description{
  text-align: justify;
  text-justify: inter-word;
  padding-right: 1em;
}

.project-view-a{ 
  color: #3e3e3e;
}

.project-view-a:hover{
  color: #a9a9a9;
}