.line{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #3e3e3e;
}

.my-work-list{
    list-style: none;
}

.mywork-category-list{
    display: inline-block;
}

.mywork-category-list > span{
    padding: 0px 10px;
}

.mywork-category-list > span:hover{
    font-weight: bold;
}

.my-work-gallery{
    padding: 0px;
}

.image{
    
    box-sizing: border-box;
    background-color: gray;
    margin-right: 5px;
    width: 24%;
    height: 20vw;
    padding-bottom : 24%; /* = width for a 1:1 aspect ratio */
    float: left;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .image {
        width: 100%;
        padding-bottom : 100%;
    }
}

.my-work-animation{
opacity: 1;
 transition: all ease-out 0.3s;
}

.my-work-animation.ng-hide-add{
    opacity: 1;
    transition: all ease-out 0.3s;
}
.my-work-animation.ng-hide-remove{
    opacity: 0;
    transition: all ease-out 0.3s;
}

.my-work-animation.ng-hide{
    transition: all ease-out 0.3s;
    opacity: 0;
}