.line{
    position: relative;
    width: 100%;
    border-bottom: 2px solid #3e3e3e;
}

.my-work-list{
    list-style: none;
}

.mywork-category-list{
    display: inline-block;
}

.mywork-category-list > span{
    padding: 0px 10px;
}

.mywork-category-list > span:hover{
    font-weight: bold;
}

.my-work-gallery{
    padding: 0px;
}

.image{
    height: 100px;
    box-sizing: border-box;
    background-color: gray;
    margin-right: 5px;
    width: 24%;
    float: left;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
    .image {
        width: 100%;
    }
}