 .resume-sub-line{
     border-bottom: 1.5px solid #3e3e3e;
     position: relative;
     width: 300%;
     margin-bottom: 5px;
 }

 .resume-subsection{
     width: 100%;
     overflow: hidden;
 }

 .resume-subsection-text{
     margin-top: 1.2em;
     margin-bottom: 2px;
 }
 .resume-exp-date{
     text-align: right;
 }

 .resume-exp-description{
     text-align: justify;
    text-justify: inter-word;
 }

.resume-education-header{
    
}

.resume-education-line{
    border-bottom: 1.5px solid #3e3e3e;
    width: 150%;
    position: relative;
    right: 125%;
}

.resume-possition{
    margin-bottom: 0;
}

.resume-exp{
    margin-top: 1em;
}