 .resume-sub-line{
     border-bottom: 1.5px solid #3e3e3e;
     position: relative;
     width: 300%;
     margin-bottom: 5px;
 }

 .resume-subsection{
     width: 100%;
     overflow: hidden;
 }

 .resume-subsection-text{
     margin-bottom: 2px;
 }
 .resume-exp-date{
     text-align: right;
 }