<div class="skills-section" ng-attr-id="{{content.SECTION.replace(' ','')}}">

    <div class="container">
        <div class="row">
            <h2 class="col-12"><strong>{{content.SECTION}}</strong></h2>
        </div>
    </div>
    <p class='line contact-line'></p>

    <div class="contact-body">
        <div class="container ">

            <div class="row ">
                <div class="col-md-5">
                    <div class="contact-element">
                        <div class="contact-icon-wraper"><i class="fa fa-envelope fa-2x contact-info-icon" aria-hidden="true"></i></div>
                        <p class="contact-info"><small>{{content.EMAILLABEL}}:</small><strong> paszko.damian<i class='fa fa-at' aria-hidden='true'></i>gmail.com</strong></p>
                    </div>

                    <div class="contact-element">
                        <div class="contact-icon-wraper-2"><i class="fa fa-mobile fa-3x contact-info-icon" aria-hidden="true"></i></div>
                        <p class="contact-info"><small>{{content.PHONELABEL}}:</small><strong> {{content.PHONENUMBER}}</strong></p>
                    </div>

                    <div class="contact-element">
                        <div class="contact-icon-wraper-3"><i class="fa fa-map-marker fa-3x contact-info-icon" aria-hidden="true"></i></i>
                        </div>
                        <p class="contact-info"><small>{{content.LOCATIONLABEL}}:</small><strong> {{content.LOCATION}}</strong></p>
                    </div>

                </div>
                <div class="col-md-7">

                    <div class="contact-form-message" ng-hide="true">

                    </div>

                    <form class="container" ng-hide="hideForm">
                        <div class="row">
                            <div class="col-12">
                                <h4>{{content.LEAVEMESSAGE}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" ng-attr-placeholder="{{content.NAMEPLACEHOLDER}}" class="contact-form-input" ng-model="name" name="name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" ng-attr-placeholder="{{content.EMAILPLACEHOLDER}}" class="contact-form-input" ng-model="email" name="email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea ng-attr-placeholder="{{content.MESSAGEPLACEHOLDER}}" class="contact-form-input contact-textarea" ng-model="message" required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button class="contact-form-btn" ng-click="send()">{{content.SENDBTN | uppercase}}</button>
                            </div>
                        </div>
                    </form>
                    <div class="container" ng-hide="!hideForm">
                        <div class="row">
                            <h3 class="contact-thx-message">{{content.THANKSMESSAGE}}</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <footer >
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-text"><small> Design and Website by</small><strong> damianPaszkowski</strong></div>
                <div class="col-md-6 contact-social-icons">
                    
                    <a target="_blank" href="https://www.instagram.com/damian.the.explorer/" ><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://pl.linkedin.com/in/damian-paszkowski-73481990"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://www.facebook.com/damian.paszkowski.3"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                    <a target="_blank" href="https://github.com/paszkowskiDamian"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                    <small class="social-find-me">{{content.SOCIAL}}</small>
                    
                </div>
            </div>
        </div>
</footer>

</div>